<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %} <!-- All the block tag does is to tell the template engine that a child template may override those portions of the template. -->
                <!-- This is where the child template can override the title block -->
               
			- My Webpage</title>
		{% block addHead %}{% endblock %}
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div id="centeredContent"> {% block content %}{% endblock %}
			<div id="footer">
				{% block footer %}
					&copy; Copyright 2011 by
					<a href="http://day07slimfirst.org">you</a>
				{% endblock %}
			</div>
		</div>

	</body>
</html>
